<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>
    <body>
        <%- include('./_nav.ejs')%>

        <div class="container"><br><br>
            <h2>Add Project</h2>
            <h3><%=message%></h3>
            <form action="/addProject" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="title">Project Name</label>
                    <input required type="text" id="title" name="title" />
                </div>
                <div>
                    <label for="description">Description</label><br>
                    <textarea required
                    type="text"
                    id="description"
                    name="description"
                    rows="5"
                    cols="40"
                    ></textarea>
                </div>
                <div>
                    <label for="category">Category</label>
                    <select name="category" id="category">
                    <%cats.forEach(c=> {%>
            
                            <option value="<%=c.categoryName%>"><%=c.categoryName%></option>
                            <%});%>
                        </select>
                </div>
                <div>
                    <label for="start">Start Date</label>
                    <input type="date" id="start"  name="start" />
                </div>
                <div>
                    <label for="finish">Finish Date</label>
                    <input type="date" id="finish"  name="finish" />
                </div>
                <div>
                    <label for="maxStudents">How many students can register</label>
                    <input required type="number" min="1" max="6" id="maxStudents"  name="maxStudents" />
                </div>
                <div>
                    <input type="submit" value="Add Project">
                </div>
            </form>
            <%- include('./_footer.ejs')%>
        </div>

    </body>

</html>