<%-include('_start.ejs')%>
<br>
<div class="alert alert-info">
    Here you can browse only projects that are available for registrarion. 
</div>
<div class="alert alert-warning">
    <b>Phone User - </b>
    Turn your phone sideways for a better view of the table.
</div>

<table style="font-size: small;" class="table border ">
    <tr style="background-color: rgb(147, 86, 156); color: rgb(255, 255, 255);" >
        <td><b>TITLE</b></a></td>
        <td><b>DESCRIPTION</b></td>
        <td><b>START</b></td>
        <td><b>FINISH</b></td>
        <td><b>MAX STUDENTS</b></td>
        <td><b>CATEGORY</b></td>
    </tr>
    <%projects.forEach(p => {%>
        <tr>
            <td><a href="/Project/<%=p.pid%>"><p><%=p.title%></p></a></td>
            <td><button class="btn btn-outline-info" onclick="alert(`<%=p.description%>`);";>Show</button></td>          
            <td><%=p.start%></td>
            <td><%=p.finish%></td>
            <td><%=p.maxStudents%></td>
            <td><%=p.category%></td>
        </tr>
    <%});%>
</table>

<%if (projects.length == 0){%>
    <br>
    <div class="alert alert-danger">There are no registerable projects yet!</div>
    <br>
<%}%>


<%-include('_finish.ejs')%>