<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>
    <body>
<%- include('./_nav.ejs')%>
<div class="container">
    <br>
    <br>
    Admins can edit everything...
    <br>
    Managers can only edit projects that the Admins assigned to them! You can see them below... 
    <ul>
    <%if (projects.length == 0){%>
         no projects <br>
    <%}%>
    <br><br> 
    <%if (user.role == 'admin') {%>     <a class="btn btn-primary" href="/addProject">Create new project</a><br><br>
    <%}%>

    <table class="table border">
        <tr style="background-color: rgb(125, 255, 170);">
            <td><b>Title</b></a></td>
            <td><b>Description</b></td>
            <%if (user.role == 'admin') {%> <td>DELETE</td> <%}%>
            <td>START</td>
            <td>FINISH</td>
            <td>MAX STUDENTS</td>
            <td>REGISTERABLE</td>

        </tr>
        <%projects.forEach(p => {%>
            <tr>
                <td><a href="/editProject/<%=p.pid%>"><p><%=p.title%></p></a></td>
                <td><textarea style="resize: none; height: 30px;" readonly><%=p.description%></textarea></td>
                
                    <%if (user.role == 'admin'){%>
                        <td>
                        <form onSubmit="return confirm('This will delete the project - <%=p.title%> - FOREVER!') " method="POST" action="/deleteProject" enctype="multipart/form-data">
                            <input type="hidden" id="pid" name="pid" value="<%=p.pid%>" />
                            <input class="btn btn-danger" type="submit" value="DELETE PROJECT" />
                        </form>
                    </td>
                    <%}%>   
               
                <td><%=p.start%></td>
                <td><%=p.finish%></td>
                <td><%=p.maxStudents%></td>
                <td><%=p.isRegisterable%></td>

            </tr>
                 
        <%});%>
    </table>

    </ul>
    <%- include('./_footer.ejs')%>
</div>

</body>

</html>