<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>

    <body>
        <%- include('./_nav.ejs')%>
        <br><br>
        <div class="container">
            <h1 style="text-align:center;">Welcome to HIT's Project Center</h1>
            <div style="text-align: center;"><br>
                <a class="btn btn-success" href="/available">I WANT TO REGISTER TO A PROJECT</a>
            </div><br><br>
            <div class="alert alert-success">Below you can browse all projects created at HIT. <br> Available or Unavailable for registration.</div>
            <br>
                    <div class="row row-cols-lg-3 row-cols-1">
                        <%cats.forEach(c=> {%>
                                
                                <div class="card">
                                    <img class="card-img-top" src="<%=picpathbase%><%=c.picpath%>" alt="Card image">
                                    <div class="card-body">
                                      <h4 class="card-title"><%=c.categoryName%></h4>
                                      <p class="card-text"></p>
                                      <a href="/projectsOfCategory/<%=c.categoryName%>" class="btn btn-primary">View Projects</a>
                                    </div>
                                  </div>
                            <%});%>
                            
                    </div>
        </div>
        
        <%- include('./_footer.ejs')%>

    </body>
    
</html>