<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>

    <body>

        <%- include('./_nav.ejs')%>
        <div class="container">
            <h1 style="text-align:center;">Welcome to HIT's Project Center</h1>
            <h3>Project Categories:</h3>
                    <div class="row row-cols-md-3 row-cols-1">
                        <%cats.forEach(c=> {%>
                                <div class="col border" style='text-align: center; padding: 30px;'>
                                    <a href="/projectsOfCategory/<%=c.categoryName%>">
                                        <%=c.categoryName%>
                                        <img class="w-100" src="<%=picpathbase%><%=c.picpath%>" >
                                    </a>
                                </div>
                            <%});%>
                    </div>
        </div>
        
        <%- include('./_footer.ejs')%>

    </body>
    
</html>