<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>
    <body>
<%- include('./_nav.ejs')%>
<div class="container">
    <%if (projects.length == 0){%>
        <%="no project found"%>
    <%}%>
    <br>
    <br>
    <br>
    <div class="row border">
        <div class="col border">
            <h1 style="text-align: center;"><%=projects[0].title%></h1>
            <h3>Project Guide:</h3>
            <%if(projects[0].fullName == null){%>
                Mark Israel
                <%}else{%>
                    <%=projects[0].fullName%>
                    <%}%>
            <br><br>
            <h3>Development:</h3>
            Start: <%=projects[0].start%><br>
            Finish : <%=projects[0].finish%><br><br>
            <h3>Description:</h3>
            <textarea style="resize: none; width: 100%; height: 200px; border: none;" readonly ><%=projects[0].description%></textarea><br>
        </div>
        <div class="col border" style="text-align: center;">
            <a href="<%=onepagerpath%>"><img width="100%" src="<%=onepagerpath%>" alt="Can't find onepager">
            </a>
        </div>
    </div>
    <br><br>
        <h1>Registration:</h1>
        <% if (user.role == "student") {
            if(user.pid == null){%>
                <a href="/projectRegister/<%=projects[0].pid%>"><%="register to this project"%></a>
            <%} else
            {
                %><%="you are already registered to a project."%><%
            }
        }else{
            %><%="Login as a student to register to this project."%><%
        }%> 
<br><br><br>
    <%- include('./_footer.ejs')%>
</div>

</body>

</html>