<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>
    <body>
        <%- include('./_nav.ejs')%>
<div class="container">
    <ul>
    <%if (projects.length == 0){%>
        <%="no projects in this category"%>
    <%}%>
    
        <div class="row">
                <%projects.forEach(p => {%>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h4 class="card-title"><%=p.title%></h4>
                          <a href="/project/<%=p.pid%>" class="btn btn-primary">Project Page</a>
                        </div>
                      </div>
                <%});%>
        </div>
    </ul>
    <%- include('./_footer.ejs')%>
</div>
</body>
</html>