<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>
    <body>
<%- include('./_nav.ejs')%>
<div class="container">
    <%if (projects.length == 0){%>
        <%="no project found"%>
    <%}%>
    <br>
    <br>
    <br>
    <div class="row border">
        <div class="col-12 col-md-6 border">
            <h4 style="text-align: center;"><%=projects[0].title%></h4>
            <h5>Project Guide:</h5>
            <%if(projects[0].fullName == null){%>
                Mark Israel
                <%}else{%>
                    <%=projects[0].fullName%>
                    <%}%>
            <br><br>
            <h5>Development:</h5>
            Start: <%=projects[0].start%><br>
            Finish : <%=projects[0].finish%><br><br>
            <h5>Description:</h5>
            <textarea style="resize: none; width: 100%; height: 200px; border: none;" readonly ><%=projects[0].description%></textarea><br>
        </div>
        <div class="col border" style="text-align: center;">
            <a href="<%=onepagerpath%>"><img width="100%" src="<%=onepagerpath%>" alt="Can't find onepager">
            </a>
        </div>
    </div>
    <br><br>
        <%if(projects[0].isRegisterable == 1){%>
            <b class="alert alert-success">Registration is Available</b><br><br>
            <% if (user.role == "student") {
                if(user.pid == null){%>
                    <a class="btn btn-primary" href="/projectRegister/<%=projects[0].pid%>"><%="register to this project"%></a>
            <%} else{%>
                    <%="you are already registered to a project."%>
            <%}}else{%>
                <%="Login as a student to register to this project."%><%
            }%> 

        <%}else{%>
            <b class="alert alert-warning">Registration is No Longer Available</b><br><br>

        <%}%>


        
<br><br><br>
    <%- include('./_footer.ejs')%>
</div>

</body>

</html>