<%- include('./_start.ejs')%>
<br>
<div class="row border">
    <h1>PROGRESSION</h1>
  <div style="width: 100%;" id="chart_div"></div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'title');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'Deadline');
      data.addRows([
          ['PROJECT DURATION' ,new Date("<%=projects[0].start%>"), new Date("<%=projects[0].finish%>") ],
          ['YOU ARE HERE' ,new Date(), new Date()],
          <%tasks.forEach(t => {%>
            ['<%=t.title%>' ,new Date("<%=t.deadline.split(',')[0]%>"), new Date("<%=t.deadline.split(',')[0]%>")],
          <%})%>
      ]);

      var options = {
        height: 250,
        timeline: {
          groupByRowLabel: true
        }
      };

      var chart = new google.visualization.Timeline(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

  </script>

</div>


        <h1>My Project:</h1>
        <a href="/project/<%=pid%>"> - Go to public project page</a><br><br><br>
        <div class="alert alert-primary">
            Here you can see all the tasks in your project and update if they are done!
        </div>

        <div style="margin: auto;" class="row">
            
            <div class="col-12 col-lg-6">

                <h1>My Tasks</h1>
                <p>Tasks which are assigned specifically to you.</p>
                <%if(myTasks.length == 0){%>No tasks found...<%}%>
                <%myTasks.forEach(t =>{%>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Stage: <%=t.stage%></div>
                        <div class="card-body text-dark">
                          <h3 class="card-title"><%=t.title%></h3>
                          <textarea class="card-text" style="width:100%" rows="2"><%=t.descriptionText%></textarea>
                          <p class="card-text">Deadline : <%=t.deadline%></p>
                          <%if (t.isDone == 0){%>
                                <a class="btn btn-success" href="/taskStatus/<%=pid%>/<%=t.tid%>">Done</a>
                            <%}else{%>
                                <div class="alert alert-success" role="alert">
                                    <b>TASK COMPLETE</b> 
                                  </div>
                            <%}%>
                        </div>
                      </div>
                    <%})%>
                    
                    
            </div>
            <br><br>
            
            
            
            
            <div class="col">
                <h1>All Tasks</h1>
                <p>All tasks in the project that are assigned to you or other students.</p>
                
                <%if(tasks.length == 0){%>No tasks found...<%}%>
                <%tasks.forEach(t =>{%>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Stage: <%=t.stage%></div>
                        <div class="card-body text-dark">
                          <h3 class="card-title"><%=t.title%></h3>
                          <textarea class="card-text" style="width:100%" rows="2"><%=t.descriptionText%></textarea>
                          <p class="card-text">Deadline : <%=t.deadline%></p>
                          <%if (t.isDone == 0){%>
                                <a class="btn btn-success" href="/taskStatus/<%=t.pid%>/<%=t.tid%>">Done</a>
                            <%}else{%>
                                <div class="alert alert-success" role="alert">
                                    <b>TASK COMPLETE</b> 
                                  </div>
                            <%}%>
                        </div>
                      </div>
                    
                    <%})%>
                    
                    
            </div>


            
            
        
        
        </div>

<%- include('./_finish.ejs')%>