<!DOCTYPE html>
<html lang="en">
<%- include('./_head.ejs')%>
    <body>
        <%- include('./_nav.ejs')%>
        <div class="container">
            <%if(typeof projects[0] != 'undefined'){%>
                <h1>My Project:</h1>
            <h2><p ><%=projects[0].title%>  </p></h2>
            <a href="/project/<%=projects[0].pid%>"> - Go to public project page</a><br><br><br>


            <h3>Tasks for You</h3>
            <%if(myTasks.length == 0){%>
                There are no tasks assigned specifically to you.
            <%}%>
            <% myTasks.forEach(task=>{%>
                task: <%= task.title%><br>
                description: <%= task.descriptionText%><br>
                deadline: <%= task.deadline%><br>
                isDone: <%= task.isDone%><br>
                <%if(task.isDone == 0){%>
                    <a href="/taskStatus/<%=task.pid+"/"+task.tid%>"">- Done -</a><br><br>
                <%}%>
            <%})%><br><br><br>


            <h3>All Tasks</h3>
            <%if(tasks.length == 0){%>
                There are no tasks yet, the project manager will add tasks at the first meeting!
            <%}%>
            <% tasks.forEach(task=>{%>
                task: <%= task.title%><br>
                description: <%= task.descriptionText%><br>
                deadline: <%= task.deadline%><br>
                isDone: <%= task.isDone%><br>
                <%if(task.isDone == 0){%>
                    <a href="/taskStatus/<%=task.pid+"/"+task.tid%>"">- Done -</a><br><br>
                <%}%>
            <%})%>
            <%}%>
        </div>
        <%- include('./_footer.ejs')%>
    </body>

</html>