<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head.ejs')%>

</head>
<body>
    <%- include('_nav.ejs')%>
    <h3>Students:</h3>
    <table >
        <td><b>Name</b></td><td style="padding: 20px;"><b>Phone</b></td><td><b>PhoneEmail</b></td>
    <%students.forEach(s =>{%>
            <tr>
                <td ><%=s.fullName%> </td><td style="padding: 20px;"><%=s.phoneNumber%></td><td><%=s.email%> </td>
            </tr>
        <br>
    <%})%>
</table>

</body>
</html>