<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head.ejs')%>

</head>
<body>
    <%- include('_nav.ejs')%>
    <div class="container">
        <br><br>
        <h1 >Students:</h1>
        <table class="table border">
            <tr>
                <td><b>Name</b></td>
                <td><b>Phone</b></td>
                <td><b>PhoneEmail</b></td>
                <td><b>project ID</b></td>
            </tr>
        <%students.forEach(s =>{%>
                <tr>
                    <td ><%=s.fullName%> </td>
                    <td style=""><%=s.phoneNumber%></td>
                    <td><%=s.email%></td>
                    <td><%=s.pid%></td>
                </tr>
            <br>
        <%})%>
        </table>
        <%- include('./_footer.ejs')%>
    </div>
</body>
</html>