<%- include('./_start.ejs')%>



        <h1>My Project:</h1>
        <a href="/project/<%=pid%>"> - Go to public project page</a><br><br><br>
        <div class="alert alert-primary">
            Here you can see all the tasks in your project and update if they are done!
        </div>

        <div class="row">
            
            <div class="col-12 col-lg-6">

                <h1>My Tasks</h1>
                <p>Tasks which are assigned specifically to you.</p>
                <%if(myTasks.length == 0){%>No tasks found...<%}%>
                <%myTasks.forEach(t =>{%>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Stage: <%=t.stage%></div>
                        <div class="card-body text-dark">
                          <h3 class="card-title"><%=t.title%></h3>
                          <textarea class="card-text" style="width:100%" rows="2"><%=t.descriptionText%></textarea>
                          <p class="card-text">Deadline : <%=t.deadline%></p>
                          <%if (t.isDone == 0){%>
                                <a class="btn btn-success" href="/taskStatus/<%=pid%>/<%=t.tid%>">Done</a>
                            <%}else{%>
                                <div class="alert alert-success" role="alert">
                                    <b>TASK COMPLETE</b> 
                                  </div>
                            <%}%>
                        </div>
                      </div>
                    <%})%>
                    
                    
            </div>
            
            
            
            
            
            <div class="col">
                <h1>All Tasks</h1>
                <p>All tasks in the project that are assigned to you or other students.</p>
                
                <%if(tasks.length == 0){%>No tasks found...<%}%>
                <%tasks.forEach(t =>{%>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Stage: <%=t.stage%></div>
                        <div class="card-body text-dark">
                          <h3 class="card-title"><%=t.title%></h3>
                          <textarea class="card-text" style="width:100%" rows="2"><%=t.descriptionText%></textarea>
                          <p class="card-text">Deadline : <%=t.deadline%></p>
                          <%if (t.isDone == 0){%>
                                <a class="btn btn-success" href="/taskStatus/<%=t.pid%>/<%=t.tid%>">Done</a>
                            <%}else{%>
                                <div class="alert alert-success" role="alert">
                                    <b>TASK COMPLETE</b> 
                                  </div>
                            <%}%>
                        </div>
                      </div>
                    
                    <%})%>
                    
                    
            </div>


            
            
        
        
        </div>

<%- include('./_finish.ejs')%>