<html>
<%- include('./_head.ejs')%>

<body>
    <%- include('./_nav.ejs')%>
    <form action="/taskDelete" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="tid" id="tid" value="<%=tid%>">
        <input type="hidden" name="pid" id="pid" value="<%=pid%>">
        <h2>ARE YOU SURE YOU WANT TO DELETE THIS TASK?</h2>
        <input type="submit" value="DELETE TASK!" ><br>
        <label for="info">Some info about the task deletion:</label> (this is logged into project updates)<br>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </form>

    <%- include('./_footer.ejs')%>
</body>
</html>